.list-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 8px;
    background-color: gainsboro;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    min-height: 72px;
    justify-content: space-around;
}
.labels-container {
    display: flex;
    justify-content: space-between;
}
